<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->

<html>
    <head>
        <title>WizTheWizar</title>
        <meta charset="UTF-8">
        <link href="css/estilos.css" rel="stylesheet" type="text/css"/>
        <link href="css/menu.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header class="header">
            <nav class="nav">
                <h1><a href="index.html" class="nav-link logo">WizTheWizar</a></h1>
                <ul class="nav-menu">
                    <li class="nav-menu-item"><a href="Contactos.html" class="nav-link nav-menu-link">&triangleleft;</a></li>
                    <li class="nav-menu-item"><a href="Pagina_Inicio.html" class="nav-link nav-menu-link">&triangleright;</a></li>
                    <li class="nav-menu-item"><a href="Contactos.html" class="nav-link nav-menu-link">Contactos</a></li>
                    <li class="nav-menu-item"><a href="Info_cliente.html" class="nav-link nav-menu-link">InfoCliente</a></li>
                    <li class="nav-menu-item"><a href="UbicacionTienda.html" class="nav-link nav-menu-link">Ubicacion</a></li>
                </ul> 
            </nav>
            <div class="cliente">
                <div class="nombre"><%= user.getidUser() %></div>
                <div class="detalle"><span>Nombre: </span> <%= user.getnombre() %></div>
                <div class="detalle"><span>Email: </span> <%= user.getemail() %></div>
            </div>
        </header>
    </body>
    <footer>
            <p>Derechos de autor © 2024 - Empresa WizTheArt</p>
        </footer>

</html>


